.comment-item {
  display: block;

  & + & {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed var(--page-border-color);
  }

  &__body {
    padding-bottom: 5px;
  }

  &__name {
    font-size: 12px;
    font-style: italic;
  }
}
