$content-max-width: 1000px;

:root {
  --main-bg: #fff7e9;
  --logo-color: #A64E00;
  --nav-color: #FF7800;
  --page-name-color: #062270;
  --page-border-color: #A64E00;
  ---btn-bg: #399ce5;
  ---btn-bg_disabled: #a1a6a0;
  ---btn-color: #fff;
  ---btn-color_disabled: #444;
  --radius: 5px;
  --text-inactive: rgba(0,0,0,.3);
  --input-border-color: #062270;
}
